<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <context:component-scan base-package="com.zumbieland" />
  <mvc:annotation-driven />

  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/jsp/"/>
    <property name="suffix" value=".jsp"/>
  </bean>
  
  <!-- Initialization for data source -->
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
   	<property name="url" value="jdbc:mysql://localhost:3306/zumbie"/>
   	<property name="username" value="root"/>
   	<property name="password" value="newpwd"/>
  </bean>
  
  <!-- Definition for JDBCSurvivorDAO bean -->
  <bean id="JDBCSurvivorDAO" class="com.zumbieland.dao.JDBCSurvivorDAO">
  	<property name="dataSource"  ref="dataSource" />    
  </bean>
  
  <!-- Definition for JDBCComplaintDAO bean -->
  <bean id="JDBCComplaintDAO" class="com.zumbieland.dao.JDBCComplaintDAO">
  	<property name="dataSource"  ref="dataSource" />    
  </bean>
  
  <!-- Definition for JDBCItemDAO bean -->
  <bean id="JDBCItemDAO" class="com.zumbieland.dao.JDBCItemDAO">
  	<property name="dataSource"  ref="dataSource" />    
  </bean>
  
  <!-- Definition for JDBCInventoryDAO bean -->
  <bean id="JDBCInventoryDAO" class="com.zumbieland.dao.JDBCInventoryDAO">
  	<property name="dataSource"  ref="dataSource" />    
  </bean>

</beans>